// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar {
    background-color: #2E2D2C;
}

.category-container {
    position: sticky;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .15rem;
    background-color: #414141;
    height: 100%;
    color: #FFA400;

    .category-textbox {
        position: sticky;
        top: 9em;
    }

    .category-list {
        list-style-type: none;
    }

    a.category-name {
        color: #FFA400;
        font-size: 20px;
        font-weight: bold;
    }

    .fa-arrow-down {
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    .subcategory-list li{
        font-size: 16px;
    }
}

.product-container {
    max-width: 65em;

    .product-price{
        float:right;
        font-weight: bold;
        font-size: 20px;
        color: #FFA400;
    }
}
