// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar {
    background-color: #2E2D2C;
}

.product-container {
    max-width: 65em;

    .product-price{
        float:right;
        font-weight: bold;
        font-size: 20px;
        color: #FFA400;
    }
}
